USE [master]
GO
/****** Object:  Database [Suli]    Script Date: 2026. 04. 13. 20:31:12 ******/
CREATE DATABASE [Suli]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Suli', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Suli.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Suli_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Suli_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Suli].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Suli]
GO
/****** Object:  Table [dbo].[Erettsegi]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Erettsegi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[SubjectId] [int] NULL,
	[Lvl] [tinyint] NULL,
 CONSTRAINT [PK__Erettseg__3214EC07511E08EB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hianyzas]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hianyzas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK__Hianyzas__3214EC0747173238] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Replies]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [uniqueidentifier] NULL,
	[TaskId] [int] NULL,
	[MessageContent] [nvarchar](max) NULL,
 CONSTRAINT [PK__Replies__3214EC072989D664] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK__Roles__3214EC0705169387] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentData]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Class] [varchar](5) NULL,
	[Address] [nvarchar](50) NULL,
	[ZIP] [int] NULL,
	[OM_Number] [int] NULL,
	[UserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK__StudentD__3214EC07013E511D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK__Subject__3214EC07655E1897] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[TaskTypeId] [int] NULL,
	[ReportDate] [datetime] NULL,
	[Message] [nvarchar](max) NULL,
	[SenderUserId] [uniqueidentifier] NULL,
	[State] [int] NULL,
 CONSTRAINT [PK__Tasks__3214EC07C4E9A7ED] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskType]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK__TaskType__3214EC0720649C98] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeRoles]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeId] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK__TaskType__3214EC0749D36134] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026. 04. 13. 20:31:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[RoleId] [int] NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Password] [varchar](max) NULL,
	[IsEnabled] [bit] NULL,
 CONSTRAINT [PK__Users__3214EC07264D43A3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Erettsegi] ON 

INSERT [dbo].[Erettsegi] ([Id], [UserId], [SubjectId], [Lvl]) VALUES (1, N'263a1885-79ef-4bd5-9c69-2b7d6095419e', 5, 1)
INSERT [dbo].[Erettsegi] ([Id], [UserId], [SubjectId], [Lvl]) VALUES (2, N'263a1885-79ef-4bd5-9c69-2b7d6095419e', 4, 1)
INSERT [dbo].[Erettsegi] ([Id], [UserId], [SubjectId], [Lvl]) VALUES (3, N'263a1885-79ef-4bd5-9c69-2b7d6095419e', 2, 1)
SET IDENTITY_INSERT [dbo].[Erettsegi] OFF
GO
SET IDENTITY_INSERT [dbo].[Hianyzas] ON 

INSERT [dbo].[Hianyzas] ([Id], [UserId], [DateFrom], [DateTo], [Message]) VALUES (1, N'd36da9c1-646a-42f7-bef9-6c59cafe4875', CAST(N'2026-03-02T00:00:00.000' AS DateTime), CAST(N'2026-03-31T00:00:00.000' AS DateTime), N'sad :c')
INSERT [dbo].[Hianyzas] ([Id], [UserId], [DateFrom], [DateTo], [Message]) VALUES (2, N'd36da9c1-646a-42f7-bef9-6c59cafe4875', CAST(N'2026-04-03T00:00:00.000' AS DateTime), CAST(N'2026-04-09T00:00:00.000' AS DateTime), N'teszt 10')
INSERT [dbo].[Hianyzas] ([Id], [UserId], [DateFrom], [DateTo], [Message]) VALUES (3, N'd36da9c1-646a-42f7-bef9-6c59cafe4875', CAST(N'2026-03-26T00:00:00.000' AS DateTime), CAST(N'2026-03-09T00:00:00.000' AS DateTime), N'mert nyaralni megyek')
SET IDENTITY_INSERT [dbo].[Hianyzas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Diák')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'Osztályfőnök')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (3, N'Igazgatóhelyettes')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name]) VALUES (1, N'Matematika')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (2, N'Történelem')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (3, N'Digitális Kultúra')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [TaskTypeId], [ReportDate], [Message], [SenderUserId], [State]) VALUES (1, N'Iskolalátogatási igazolás', 1, CAST(N'2026-03-28T14:21:25.170' AS DateTime), N'Választott nyelv: Magyar', N'd36da9c1-646a-42f7-bef9-6c59cafe4875', 2)
INSERT [dbo].[Tasks] ([Id], [Title], [TaskTypeId], [ReportDate], [Message], [SenderUserId], [State]) VALUES (2, N'Iskolalátogatási igazolás', 1, CAST(N'2026-03-30T17:19:43.183' AS DateTime), N'Választott nyelv: Magyar', N'd36da9c1-646a-42f7-bef9-6c59cafe4875', 2)
INSERT [dbo].[Tasks] ([Id], [Title], [TaskTypeId], [ReportDate], [Message], [SenderUserId], [State]) VALUES (3, N'Iskolalátogatási igazolás', 1, CAST(N'2026-03-30T18:27:01.863' AS DateTime), N'Választott nyelv: Magyar', N'd36da9c1-646a-42f7-bef9-6c59cafe4875', 2)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskType] ON 

INSERT [dbo].[TaskType] ([Id], [Type]) VALUES (1, N'Iskolalátogatási igazolás')
INSERT [dbo].[TaskType] ([Id], [Type]) VALUES (2, N'Jogviszony igazolás
')
INSERT [dbo].[TaskType] ([Id], [Type]) VALUES (3, N'MÁK igazolás/ árvasági dokumentum
')
SET IDENTITY_INSERT [dbo].[TaskType] OFF
GO
INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [Email], [RoleId], [PhoneNumber], [Password], [IsEnabled]) VALUES (N'b91bcb3b-da5f-4fe4-8120-164790366a0b', N'Balint', NULL, N'Domnanob', N'domnanob@gmail.com', 9, N'+3612542384', N'$2a$11$qp/9ECxXNIqx21xwrG1LJelOrHb/9HCrYRLKtkaLdlMYPvqY70Czu', 0)
INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [Email], [RoleId], [PhoneNumber], [Password], [IsEnabled]) VALUES (N'114d8945-a40c-4fe2-8fd4-2abc281991be', N'osztalyfonok', NULL, N'asd', N'ofo@gmail.com', 2, N'+36301231234', N'$2a$11$blafgiCOjOSCgAZg5VnwuuVqaDD0sWNiFeMY60QrBmpKuAdLf0drG', 0)
INSERT [dbo].[Users] ([Id], [FirstName], [MiddleName], [LastName], [Email], [RoleId], [PhoneNumber], [Password], [IsEnabled]) VALUES (N'263a1885-79ef-4bd5-9c69-2b7d6095419e', N'szia', NULL, N'Flórián', N'dangyusz@gmail.com', 1, N'+36301631780', N'$2a$11$Oa2hcxpHtLVXQ9vBY6AtWe3HXPdJkPBTyvBRPZXevpzUC3Xkx/Eou', 0)
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Erettsegi]  WITH CHECK ADD  CONSTRAINT [FK__Erettsegi__Subje__5DCAEF64] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Erettsegi] CHECK CONSTRAINT [FK__Erettsegi__Subje__5DCAEF64]
GO
ALTER TABLE [dbo].[Erettsegi]  WITH CHECK ADD  CONSTRAINT [FK__Erettsegi__UserI__5EBF139D] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Erettsegi] CHECK CONSTRAINT [FK__Erettsegi__UserI__5EBF139D]
GO
ALTER TABLE [dbo].[Hianyzas]  WITH CHECK ADD  CONSTRAINT [FK__Hianyzas__UserId__5BE2A6F2] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Hianyzas] CHECK CONSTRAINT [FK__Hianyzas__UserId__5BE2A6F2]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK__Replies__SenderU__628FA481] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK__Replies__SenderU__628FA481]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK__Replies__TaskId__6383C8BA] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK__Replies__TaskId__6383C8BA]
GO
ALTER TABLE [dbo].[StudentData]  WITH CHECK ADD  CONSTRAINT [FK__StudentDa__UserI__5FB337D6] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentData] CHECK CONSTRAINT [FK__StudentDa__UserI__5FB337D6]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK__Tasks__SenderUse__619B8048] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK__Tasks__SenderUse__619B8048]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK__Tasks__TaskTypeI__60A75C0F] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[TaskType] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK__Tasks__TaskTypeI__60A75C0F]
GO
ALTER TABLE [dbo].[TaskTypeRoles]  WITH CHECK ADD  CONSTRAINT [FK__TaskTypeR__RoleI__656C112C] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[TaskTypeRoles] CHECK CONSTRAINT [FK__TaskTypeR__RoleI__656C112C]
GO
ALTER TABLE [dbo].[TaskTypeRoles]  WITH CHECK ADD  CONSTRAINT [FK__TaskTypeR__TaskT__6477ECF3] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[TaskType] ([Id])
GO
ALTER TABLE [dbo].[TaskTypeRoles] CHECK CONSTRAINT [FK__TaskTypeR__TaskT__6477ECF3]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__5CD6CB2B] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__5CD6CB2B]
GO
USE [master]
GO
