
::deep .mud-main-content {
    padding-top: 50px;
}

.title {
    color: black;
    margin-bottom: 30px;
}

::deep .mud-container {
    max-width: 400px;
    margin-left: 300px;
}

::deep .mud-input-control {
    width: 100%;
    margin-bottom: 15px;
}

::deep .mud-button-root {
    width: 200px;
    margin-top: 20px;
}
.designbox {
    background-color: lightcyan;
    border-radius: 14px;
    padding: 30px;
    width: 530px;
    margin: 40px auto;
}

.mud-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}