.page-container {
    margin-top: 30px;
}

.content-card {
    padding: 30px;
    border-radius: 16px;
}

.students-table {
    margin-bottom: 30px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
