.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.bottom-button .mud-button-root {
    min-width: 200px;
    height: 50px;
    font-size: 16px;
}


