.page-container {
    padding-top: 40px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.task-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.task-text {
    font-weight: 600;
}